/*
  flipping cards
*/
.flip {
  /* -webkit-perspective: 800; */
  perspective: 800;
  position: relative;
  text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  /* width: 270px; */
  /* height: 450px; */
  min-height: 450px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  /* background-color: #fff; */
}
.flip .card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  /* width: 270px; */
  z-index: 1;
}
.flip .card .front img {
  width: 270px;
  height: 100%;
}
.flip .card .img {
  position: relaitve;
  width: 270px;
  height: 178px;
  z-index: 1;
  border: 2px solid #000;
}
.flip .card .back {
  /* padding-top: 10%; */
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  position: absolute;
  width: 100%;
}

.flip .card .back img {
  width: 370px;
  height: 100%;
}
.inner {
  margin: 0px !important;
  width: 270px;
}

@media screen AND (max-width: 500px) {
  .flip .card .back img {
    width: 300px;
    height: 100%;
  }
  .flip .card {
    min-height: 750px;
  }
}

/* 
  modals
*/

.content {
  height: 100vh;
}

.modal {
  border-radius: 7px;
  overflow: hidden;
  background-color: transparent;
}
.modal .logo a img {
  width: 30px;
}
.modal .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 7px;
}
.modal .modal-content .modal-body {
  border-radius: 7px;
  overflow: hidden;
  color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
}
.modal .modal-content .modal-body h2 {
  font-size: 18px;
}
.modal .modal-content .modal-body p {
  color: #777;
  font-size: 14px;
}
.modal .modal-content .modal-body h3 {
  color: #000;
  font-size: 22px;
}
.modal .modal-content .modal-body .close-btn {
  color: #000;
}
.modal .modal-content .modal-body .promo-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}
.modal .main-content {
  padding-left: 10px;
  padding-right: 10px;
}
.modal .coupon {
  padding: 5px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 2px dashed #6c757d;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 75%;
}
.modal .cancel {
  color: gray;
  font-size: 14px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo img {
  width: 70px;
}

.bg-4 {
  background: #fff4e4;
}

.form-control {
  border: transparent;
}
.form-control:active,
.form-control:focus,
.form-control:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo img {
  width: 70px;
}

.bg-4 {
  background: #fff4e4;
}
